// $primary: #22509c;
// $secondary: #ff8f0c;
// $success: #00800b;
// $info: #5279b8;
// $warning: #ffb100;
// $danger: #dc3545;
// $light: #f2f2f2;
// $dark: #000000;
// // Overlay
// $overlay-bg: #90a7cd;

$home_background_color : #dbd3d3;
$header_footer_background_color : #131921;
$highlight_red_color : #D23F57;
$footer_link_color : #AEB4BE;
$footer_background : #212935;
$font_size_top_nav : 12px;
$font_size_icon_top_nav : 16px;
$font_size_icon_header : 20px;
